<%= render partial: "shared/header", locals: {domain: "main"} %>

<div class="template">
  <div class="jinja">
    <%= image_tag("head.gif", width: "100%", height: "250px") %>
  </div>

  <div class="main_body">
    <p>
      <%= link_to t("main.animedl"), animes_path %>
    </p>

  </div>

  <%= render partial: "shared/footer" %>
</div>
