.anime_title {
  padding:      1em 1em;
  position:     relative;
}

.anime_panel {
  top:           10px;
  z-index:       0;
  position:      relative;
  width:         95%;
  margin:        auto;
  padding:       1em 1em;
  border:        solid 1px black;
  border-radius: 10px;
}
