.jinja {
  position: relative;
  top:      -10px;
  left:     0;
}

.template {
  top:       130px;
  width:     100vw;
  left:      0px;
  position:  absolute;
  min-height: 100vh;
}

.main_body {
  width:     90%;
  margin:    auto;
  position:  relative;
}

#b:visited {
  color:      black !important;
  background: #E3F0E4;
}

a:link{
  text-decoration: none;
}
