.template {
  top:       130px;
  width:     100vw;
  left:      0px;
  position:  absolute;
  min-height: 100vh;
}

.main_body {
  width:     90%;
  margin:    auto;
  position:  relative;
}

#b:visited {
  color: white !important;
}

a:link{
  color:white;
  text-decoration: none;
}
